.flexRow--tablet__minicart__section--two{
  padding-left: 5%;
  padding-right: 5%;
}

.flexRowContent--tablet__quantity--price{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.flexColChild--tablet__name{
  max-width: 176px;
  padding-left: 5%;
}
