.flexColChild--filtro_results{
  padding-left: 10%;
}

.flexColChild--content_results{
  margin-bottom: 30px;
}

.flexRowContent--credit_card{
  width: 100%
}

.flexRowContent--informacion__pdp{
      padding: 0 5% 10px 5%;
}

.flexColChild--imagen__pdp{
  padding-right: 5%;
}

.flexColChild--products_similar-col{
        padding: 0 5% 10px 5%;
}

.flexColChild--data__pdp{
  padding-top: 20px
}

.flexRow--product_entrega{
  padding: 10px 5% 10px 5%;
}

.flexColChild--otros__productos-col{
  padding-right: 10px;
}

.flexCol--product_entrega-col{
  padding-left: 10px;
}

.flexRow--button_sticky{
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.flexRowContent--button_sticky{
  justify-content: space-between !important;
}

.flexCol--button_quantity {
  width: "38%"
}
