.styledLinkContainer--menu_item_department-one{
  display: none;
}

.submenuWrapper--submenu-department__one{
  margin-top: 2.56rem;
  position: fixed;
  width: 90%;
  margin-left: 50px;
}

.styledLinkContent{
  max-height: 28px;
  white-space: break-spaces;
}

.styledLinkContent--menu_item_department-one{
  font-size: 10px;
}

.menuItem--department_one_category :hover{
  text-decoration: underline #0072CE;
}

.styledLinkContent--department_one_category{
  margin-bottom: 15px;
  color: #0072CE;
  font-size: 12px
}

.styledLinkContent--department_one_category :hover{
 text-decoration: underline #0072CE;

}

.styledLinkContent--department_one_subcategory{
  font-size: 12px;
}

.menuItem--department_one_subcategory :hover{
  text-decoration: underline black;
}

.styledLinkContainer--menu_item_department-two{
  display: none;
}

.styledLinkContent--menu_item_department-two{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-three{
  display: none;
}

.styledLinkContent--menu_item_department-three{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-four{
  display: none;
}

.styledLinkContent--menu_item_department-four{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-five{
  display: none;
}

.styledLinkContent--menu_item_department-five{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-six{
  display: none;
}

.styledLinkContent--menu_item_department-six{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-seven{
  display: none;
}

.styledLinkContent--menu_item_department-seven{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-eight{
  display: none;
}

.styledLinkContent--menu_item_department-eight{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-nine{
  display: none;
}
.styledLinkContent--menu_item_department-nine{
  font-size: 10px;
}

.styledLinkContainer--menu_item_department-ten{
  display: none;
}

.styledLinkContent--menu_item_department-ten{
  font-size: 10px;
}
