.flexRow--tablet_home_section-two{
      margin-top: 10px;
      padding: 0 3% 10px 3%
}

.flexColChild--tablet_section_two-images{
  padding-right: 10px;
}

.flexRow--tablet_home_section-two{
      padding: 0 3% 10px 3%
}

.flexRow--tablet_home_section-three{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-four{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_four-images{
  padding-right: 10px;
}
.flexRow--tablet_home_section-five{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_five-images{
  padding-right: 10px;
}
.flexRow--tablet_home_section-six{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-seven{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-eigth{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-nine{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_nine-images{
  padding-right: 10px;
}
.flexRow--tablet_home_section-ten{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-eleven{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_eleven-images{
  padding-right: 10px;
}
.flexRow--tablet_home_section-twelve{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-thirteen{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-fourteen{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-fifteen{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-sixteen{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_sixteen-images{
  padding-right: 10px;
}
.flexRow--tablet_home_section-seventeen{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-eighteen{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_home_section-nineteen{
      padding: 0 3% 10px 3%
}
.flexColChild--tablet_section_nineteen-images{
  padding-right: 10px;
}
.flexRow--tablet_section-twenty{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_section-twenty-one{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_section-twenty-two{
      padding: 0 3% 10px 3%
}
.flexRow--tablet_section-twenty-three{
      padding: 0 3% 10px 3%
}
