.flexRowContent--footer_three{
  margin-top: 3%
}

.flexCol--footer_text2{
  height: 45%
}

.flexRowContent--footer_total{
  height: 250px
}

.flexRow--footer_container-col{
  height: 130px
}

.flexColChild--footer_text2{
  display: flex
}
