.label--links_footer{
  text-decoration: underline white;
  color: #333333;
  font-size: 14px
}

.link--links_footer-title{
    text-decoration: underline white;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
