.flexRow--button_sticky-col :global(.vtex-button){
  border-color: red;
  background-color: red;
color: white
}

.flexRow--button_sticky-col :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText)::before{
    content: "Agregar al Carro";
    visibility: visible;
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    justify-content: center;
    transform: translateY(8px);
}

.flexRow--button_sticky-col :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
visibility: hidden;
}
